<%= turbo_frame_tag 'articles' do %>
<%= turbo_frame_tag 'profile' do %>
  <div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <%= link_to edit_user_registration_path, data: { turbo_frame:"profile" } do %>
        <span class="icon is-small"><i class="fa-solid fa-address-card" aria-hidden="true"></i></span>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="">
      <%= link_to users_path, data: { turbo_frame:"profile" } do %>
        <span class="icon is-small"><i class="fa-solid fa-user-group" aria-hidden="true"></i></span>
        <span>Friends</span>
      <% end %>
    </li>
    <li>
      <%= link_to user_url(current_user), data: { turbo_frame: 'profile' } do %>
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Articles</span>
      <% end %>
    </li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Bio</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Tell something about yourself"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Account</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <%= f.text_field :username, autocomplete: "username", type: "test", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <%= f.text_field :email,type:"email", class:"input", autocomplete: "email" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Password</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <%= f.password_field :password, class: "input", type: "password", autocomplete: "new-password", placeholder: "leave blank if you don't want to change it" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <%= f.password_field :password_confirmation, type: "password", class: "input", autocomplete: "new-password" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Save</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <%= f.password_field :current_password, type:"password", class:"input", autocomplete: "current-password", placeholder: "we need your current password to confirm your changes" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
       <div class="control">
         <%= f.submit "Update profile", class: "button is-warning" %>
       </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Unhappy?</label>
  </div>
  <div class="field-body">
    <div class="field">
       <div class="control">
         <%= button_to "Cancel my account", registration_path(resource_name), class: "button is-danger", data: { confirm: "Are you sure?" }, method: :delete %>
       </div>
    </div>
  </div>
</div>

<% end %>
<%= link_to "Back", :back %>
<% end %>
<% end %>
