<article class="media article">
  <%= link_to user_url(article.user), class: "has-text-black", data: {turbo_frame: 'articles'} do %>
  <figure class="media-left">
    <p class="image is-64x64">
      <%# image_tag rails_storage_proxy_path(article.user.avatar), class: "is-rounded"  %>
    </p>
  </figure>
  <% end %>

  <%= turbo_frame_tag 'partial_article' do %>
  <div class="media-content">
    <div class="content ">
      <p class="is-family-monospace">
        <strong>@<%= article.user.username %></strong> <small><%= time_ago_in_words(article.created_at) %></small>
        <br>
          <%= article.body %>
      </p>
    </div>

    <nav class="level is-mobile">
      <div class="level-left">
        <%= render "articles/show/buttons", article: article %>
      </div>
    </nav>
  <% end %>

  </div>
</article>
