<%= form_with(model: article) do |form| %>
  <%= render "error_each", article: article %>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= form.text_area :body, class: "textarea",autofocus: true, placeholder: "Write a new Aritcle" %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item buttons">
            <%= form.submit class: "button is-success" %>
            <%= link_to "Cancel", root_path,
                                  class: "button is-info" %>
          </div>
        </div>
      </nav>
    </div>
  </article> <br>
<% end %>
