<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= form.text_area :body, class: "textarea", placeholder: "Write a new Aritcle" %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= form.submit class: "button is-success" %>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>
