<%= turbo_frame_tag 'articles' do %>

  <%= turbo_frame_tag 'article_form' %>
  <%= turbo_frame_tag 'updated_article', class: "section" do %>
    <%= render @article %>
  <% end %>
  
  <div class="buttons">
    <% if @user_articles.include?(@article) %>
      <%= link_to "Edit", edit_article_path(@article),
                          data: { turbo_frame: "article_form"  },
                          class: "button is-primary" %>
    <% end %>
    <%= link_to "Back", articles_path, class: "button is-link" %>
  </div>
  
  <% if @user_articles.include?(@article) %>
    <div class="buttons">
      <%= button_to "Remove",
        @article,
        method: :delete,
        class: "button is-danger" %>
    </div>
  <% end %>
<% end %>
