<%= turbo_frame_tag 'articles' do %>
  
  <%= turbo_frame_tag 'article_form' %>
  <%= turbo_frame_tag 'updated_article', class: "section" do %>
    <%= render @article %>
  <% end %>
  
  <div class="section" id="comments">
    <%= turbo_stream_from @article,'comment_stream' %>
    <%= render @comments %>
    <%= render 'comments/form', article: @article %>
  </div>

  <div class="buttons">
    <%= render "articles/show/buttons/edit_remove_buttons" %>
  </div>
<% end %>
