<%= turbo_frame_tag 'article_form' %>
<div class="tabs is-centered">
<ul>
  <li class="">
    <%= link_to edit_user_registration_path, data: { turbo_frame:"articles" } do %>
      <span class="icon is-small"><i class="fa-solid fa-address-card" aria-hidden="true"></i></span>
      <span>Dashboard</span>
    <% end %>
  </li>
  <li class="">
    <%= link_to friend_requests_path, data: { turbo_frame:"articles" } do %>
      <span class="icon is-small"><i class="fa-solid fa-user-group" aria-hidden="true"></i></span>
      <span>Friends</span>
    <% end %>
  </li>
  <li>
    <%= link_to user_url(current_user), data: { turbo_frame: 'articles' } do %>
      <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
      <span>Articles</span>
    <% end %>
  </li>
  <li class="">
    <%= link_to users_path, data: { turbo_frame:"articles" } do %>
      <span class="icon is-small"><i class="fa-solid fa-user-group" aria-hidden="true"></i></span>
      <span>Users</span>
    <% end %>
  </li>
</ul>
</div>
