<div class="media box" style="padding: .5rem" id="<%= dom_id user %>">
  <%= link_to user_url(user.id) do %>
    <div class="media-left">
      <figure class="image is-48x48">
        <img class="is-rounded" src="<%= Faker::Avatar.image %>">
      </figure>
    </div>

    <div class="media-content">
      <p class="title is-6 is-family-monospace" style="margin-top: 1rem">@<%= user.username %></p>
  <% end %>
    </div>

    <div class="media-right">

      <% unless @pending_ids.include?(user.id) || @friends.include?(user) %>
       <%= button_to friend_requests_url,
          params: { receiver_id: user.id },
          class: "icon is-success button is-rounded",
          method: :post,
          title: "Send request", 
          style: "margin-top: .9rem;" do %>
            <i class="fa-solid fa-user-plus"></i>
          <% end %>
     <% end %>

      <% if @pending_ids.include?(user.id) %>
        <span class="icon button is-rounded" title="Pending request" style="margin-top: .9rem"disabled>
          <i class="fa-solid fa-user-plus"></i>
        </span>
      <% end %>

    </div>

</div>
