<%= turbo_frame_tag 'profile' do %>
  <div class="tabs is-centered">
  <ul>
    <li class="">
      <%= link_to edit_user_registration_path, data: { turbo_frame:"profile" } do %>
        <span class="icon is-small"><i class="fa-solid fa-address-card" aria-hidden="true"></i></span>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="is-active">
      <%= link_to users_path, data: { turbo_frame:"profile" } do %>
        <span class="icon is-small"><i class="fa-solid fa-user-group" aria-hidden="true"></i></span>
        <span>Friends</span>
      <% end %>
    </li>
    <li>
      <%= link_to user_url(current_user), data: { turbo_frame: 'profile' } do %>
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Articles</span>
      <% end %>
    </li>
  </ul>
</div>

<% @requests.each do |request| %>
         <div class="media box" style="padding: .5rem">
            <%= link_to user_url(request.requestor_id) do %>
           <div class="media-left">
             <figure class="image is-48x48">
               <img class="is-rounded" src="<%= Faker::Avatar.image %>">
             </figure>
           </div>

           <div class="media-content">
              <div class="title is-6 is-family-monospace" style="margin-top: 1rem">@<%= User.find(request.requestor_id).username %></div>
             <% end %>
           </div>

           <div class="media-right">
             <%= button_to friend_request_url(request), method: :patch do %>
                 <span class="icon button is-rounded" title="Pending request" style="margin-top: .9rem">
                    <i class="fa-solid fa-user-plus"></i>
                 </span>
              <% end %>
                 <span class="icon button is-rounded" title="Pending request" style="margin-top: .9rem"disabled>
                    <i class="fa-solid fa-user-plus"></i>
                 </span>
           </div>
      </div>
      <% end %>

    <% @users.each do |user| %>
         <div class="media box" style="padding: .5rem">
            <%= link_to user_url(user.id) do %>
           <div class="media-left">
             <figure class="image is-48x48">
               <img class="is-rounded" src="<%= Faker::Avatar.image %>">
             </figure>
           </div>

           <div class="media-content">
              <div class="title is-6 is-family-monospace" style="margin-top: 1rem">@<%= user.username %></div>
             <% end %>
           </div>

           <div class="media-right">
               <% if current_user.pending_requests.include?(user.id)%>
                 <span class="icon button is-rounded" title="Pending request" style="margin-top: .9rem"disabled>
                    <i class="fa-solid fa-user-plus"></i>
                 </span>
                <% else %>
                <%= button_to friend_requests_path(receiver_id: user.id),
                  class: "icon is-success button is-rounded",
                  method: :post,
                  title: "Send request", 
                  style: "margin-top: .9rem;",
                  data: { turbo_stream: "users" } do %>
                    <i class="fa-solid fa-user-plus"></i>
                <% end %>
               <% end %>
             </span>             
           </div>
      </div>
    <% end %>
<% end %>
