<%= form_with(model: friend_request,
              class: "media box p-2",
              ) do |form| %>

<%= form.hidden_field :receiver_id, value: friend_request.receiver_id %>
<%= form.hidden_field :requestor_id, value: friend_request.requestor_id %>
<%= form.hidden_field :status, value: "accepted" %>

<%= link_to user_url(friend_request.requestor_id), class: "media-left" do %>
  <figure class="image is-48x48">
    <img class="is-rounded" src="<%= Faker::Avatar.image %>">
  </figure>
<% end %>

<%= link_to user_url(friend_request.requestor_id), class: "media-content" do %>
  <div class="title is-6 is-family-monospace" style="margin-top: 1rem">@<%= User.find(friend_request.requestor_id).username %></div>
<% end %>

<div class="media-right is-mobile level pt-3">
  <%= button_tag type: "submit",
                mathod: :patch,
                class: "level-item is-success icon button is-rounded",
                title: "Accept request" do %>
    <i class="fa-solid fa-circle-check"></i>
  <% end %>

<% end %>

  <%= button_to friend_request, method: :delete,
                                class: "is-danger icon button is-rounded level-item",
                                title: "Ignore request" do %>
    <i class="fa-solid fa-circle-xmark"></i>
  <% end %>
</div>
