<%= turbo_frame_tag 'articles' do %>
  <%= render "users/profile_tabs" %>
    <%= turbo_frame_tag 'friends_users', class: "is-mobile columns" do %>

    <div class="column">
      <h1>Friends List</h1>
      <%= render @friends %>
    </div>

    <div class="column">
      <h1>Friends Requests</h1>
      <%= turbo_stream_from current_user, 'new_request_stream' %>
      <div id="new_request">
        <%= render @friend_requests %>
      </div>
    </div>

    <% end %>
<% end %>
