<!DOCTYPE html>
<html>
  <head>
    <title>BloUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render "layouts/navbar" %>

    <div class="container">
      <div class="section">

        <div id="flash" class="flash">
        <%= render 'layouts/flash' %> 
        </div><br>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
